[submodule "dev/.config/nvim/bundle/vim-vinegar"]
	path = dev/.config/nvim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "dev/.config/nvim/bundle/vim-repeat"]
	path = dev/.config/nvim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "dev/.config/nvim/bundle/vim-surround"]
	path = dev/.config/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "dev/.config/nvim/bundle/vim-rails"]
	path = dev/.config/nvim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "dev/.config/nvim/bundle/vim-dispatch"]
	path = dev/.config/nvim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "dev/.config/nvim/bundle/vim-ruby"]
	path = dev/.config/nvim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "dev/.config/nvim/bundle/vim-fugitive"]
	path = dev/.config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dev/.config/nvim/bundle/ctrlp.vim"]
	path = dev/.config/nvim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "dev/.config/nvim/bundle/vim-markdown"]
	path = dev/.config/nvim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "dev/.config/nvim/bundle/ack.vim"]
	path = dev/.config/nvim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "dev/.config/nvim/bundle/tComment"]
	path = dev/.config/nvim/bundle/tComment
	url = https://github.com/vim-scripts/tComment
[submodule "dev/.config/nvim/bundle/vim-textobj-rubyblock"]
	path = dev/.config/nvim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "dev/.config/nvim/bundle/vim-textobj-user"]
	path = dev/.config/nvim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "dev/.config/nvim/bundle/vim-go"]
	path = dev/.config/nvim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "dev/.config/nvim/bundle/vim-test"]
	path = dev/.config/nvim/bundle/vim-test
	url = https://github.com/janko-m/vim-test.git
[submodule "dev/.config/nvim/bundle/tslime.vim"]
	path = dev/.config/nvim/bundle/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "dev/.config/nvim/bundle/vim-tmux-runner"]
	path = dev/.config/nvim/bundle/vim-tmux-runner
	url = https://github.com/christoomey/vim-tmux-runner.git
