.DS_Store
dev/.config/nvim/.netrwhist
dev/.config/nvim/tmp/*
dev/.config/direnv/*
dev/.config/configstore/*
dev/.config/gtk-2.0/*
dev/.config/hub
dev/.config/iterm2/*
dev/.config/heroku/config.json
dev/.config/iterm2/*
dev/.local/share/nvim/shada
dev/.local/share/direnv
dev/.local/share/pry
dev/.local/share/httptoolkit-server
dev/.config/karabiner/automatic_backups/*
dev/.local/share/karabiner/*
