[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-vinegar"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-repeat"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-surround"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-rails"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-dispatch"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-ruby"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-fugitive"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-markdown"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/ack.vim"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/tComment"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/tComment
	url = https://github.com/vim-scripts/tComment
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-textobj-rubyblock"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-textobj-user"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-go"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-test"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-test
	url = https://github.com/janko-m/vim-test.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/ale"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/happy_hacking.vim"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/happy_hacking.vim
	url = https://github.com/YorickPeterse/happy_hacking.vim.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-javascript"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-jsx"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-rhubarb"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-ledger"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/gv.vim"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-endwise"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/fzf.vim"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-one"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "shared/onehalf"]
	path = shared/onehalf
	url = https://github.com/sonph/onehalf.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/elm-vim"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/elm-vim
	url = https://github.com/Zaptic/elm-vim.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-toml"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "dev/.local/share/nvim/site/pack/git-plugins/start/vim-jsx-typescript"]
	path = dev/.local/share/nvim/site/pack/git-plugins/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
