.DS_Store
dev/.config/nvim/.netrwhist
dev/.config/nvim/tmp/*
dev/.config/direnv/*
dev/.config/configstore/*
dev/.config/hub
dev/.config/iterm2/*
dev/.config/heroku/config.json
dev/.local/share/nvim/shada
dev/.local/share/direnv
dev/.local/share/pry
dev/.local/share/httptoolkit-server
