[user]
	name = Ben Cullen-Kerney
	signingkey = 1929F857
[github]
	user = bak
[alias]
	co = checkout
	st = "status -s"
	b  = "branch -v"
	l  = "log --graph --color --decorate --all --branches --pretty=format:\"%C(yellow)%h%Cgreen%d %Cblue%an:%Creset %s\""
	lg = "log --all --branches --color --graph --date=default --pretty=format:\"%C(yellow)%H%Cgreen%d%Creset%n%an, %ad (%ar, committed %cr)%nparents: %p%n%n%w(76,2,2)%B\""
	lw = "log --word-diff -p"
	lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
	dw = "diff --word-diff"
	current = "rev-parse --abbrev-ref HEAD"
	updatesubmodules = "submodule foreach git pull origin master"
	c = "commit -m ."
[core]
	excludesfile = ~/.gitignore_global
	pager = less -F -X
	trustctime = false
	autocrlf = input
[help]
	browser = gitscm
[push]
	default = upstream
[color]
	ui = auto
[commit]
	template = ~/.default_commit_message
	gpgsign = true
  verbose = true
[pull]
	rebase = true
[credential]
	helper = osxkeychain
[branch]
  sort = -creatordate
[rerere]
	enabled = true
[diff]
	compactionHeuristic = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
  generic = n next
  generic = p previous
[tig]
  commit-order = topo
  blame-options = -C -C -C    # Blame lines from other files
  line-graphics = utf-8
[url "git@github.com:"]
	insteadOf = https://github.com/
